@import 'variables.scss';

html,
body {
    margin        : 0;
    padding       : 0;
    font-family   : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size     : 16px;
    font-weight   : 500;
    line-height   : 24px;
    letter-spacing: 1px;
    text-align    : center;
    color         : white;
}

.mt-1 {
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.btn {
    padding       : 10px 40px;
    color         : white;
    font-size     : 17px;
    font-style    : normal;
    font-weight   : 500;
    line-height   : 25px;
    letter-spacing: 1px;
}

.btn-outline-white {
    border    : 1px solid white;
    background: none;
}

.btn-primary {
    border    : 1px solid $primary;
    background: $primary;
}

.common-h1 {
    font-size     : 52px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 62px;
    letter-spacing: 1px;
    padding       : 162px 0 0 0;
    margin        : 0;
}

.common-txt {
    font-size     : 20px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 30px;
    letter-spacing: 1px;
    text-align    : center;
    width         : 600px;
    margin        : 0 auto;

    @media (max-width: $tablet) {
        width: calc(768px - 300px);
    }

    @media (min-width: $mob-l) and (max-width: 475px) {
        width: calc(768px - 400px);
    }

    @media (max-width: $mob-l) {
        width: calc(425px - 100px);
    }

    @media (max-width: $mob-m) {
        width: calc(375px - 90px);
    }

    @media (max-width: $mob-s) {
        width: calc(320px - 80px);
    }
}

.small-txt {
    font-size     : 16px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 24px;
    letter-spacing: 1px;
}

header {
    background-color: $start-bg;

    .navbar {
        padding: 0.5em 1em;

        .nav-wrapper {
            max-width      : 1100px;
            margin         : auto;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
        }

        #brand-logo {
            height: 58px;

            @media (max-width: $mob-m) {
                height: 48px;
            }
        }

        .nav-item {

            .nav-links {
                @media (max-width: $tablet) {
                    display: none;
                }

                .nav-link {
                    text-decoration: none;
                    color          : white;
                    margin         : 0 25px;
                }
            }

            li {
                display: inline-block;
            }

            .navbar-toggler {
                background: none;
                border    : none;
                display   : none;

                @media (max-width: $tablet) {
                    display: inline-block;
                    height : 28px;
                }
            }

            #login-btn {
                @media (max-width: 400px) {
                    display: none;
                }
            }
        }
    }
}

.starting-block {
    background-color: $start-bg;

    .start-content {

        .start-h {
            max-width     : 710px;
            font-size     : 80px;
            font-style    : normal;
            font-weight   : 500;
            line-height   : 88px;
            letter-spacing: 1px;
            text-align    : center;
            margin        : 0 auto 37px auto;
            padding-top   : 90px;

            @media (max-width: $mob-l) {
                max-width     : 324px;
                margin        : auto;
                font-size     : 52px;
                font-style    : normal;
                font-weight   : 400;
                line-height   : 62px;
                letter-spacing: 1px;
                text-align    : center;
                padding-top   : 80px;
                margin-bottom : 18px;
            }
        }

        .start-btns-wrapper {
            width          : 100%;
            display        : flex;
            justify-content: center;
            padding        : 116px 0 56px 0;

            @media (max-width: $mob-l) {
                padding: 68px 0 76px 0;
            }

            .start-btns {
                display       : flex;
                flex-direction: row;

                @media (max-width: $mob-l) {
                    flex-direction: column;
                    align-items   : center;
                }

                .start-btn {
                    height: 65px;
                    width : 136px;
                }

                #start-btn-1 {
                    @media (min-width: 426px) {
                        margin-right: 2em;
                    }

                    @media (max-width: $mob-l) {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }

    .start-bg {
        background     : $start-bg url('../img/startingBg.png') no-repeat center center;
        background-size: contain;
        height         : 840px;
        box-shadow     : inset 0 -350px 350px $start-bg;


        @media (max-width: $mob-l) {
            box-shadow     : inset 0 -200px 200px $start-bg;
            height         : 436px;
            background-size: cover;
        }
    }
}

.features-block {
    background: $dark-bg;

    .features-h1 {
        text-transform: uppercase;
    }

    .features-txt {
        padding-top   : 27px;
        padding-bottom: 80px;

        @media (max-width: $tablet) {
            padding-bottom: 27px;
        }
    }

    .content-wrapper {
        display        : flex;
        flex-direction : row;
        justify-content: space-around;

        .content-row {
            width          : inherit;
            display        : flex;
            justify-content: space-around;
            flex-direction : column;
            align-items    : center;
            padding-bottom : 92px;

            @media (min-width: $laptop) {
                flex-direction: row;
                align-items   : unset;
                padding-bottom: 262px;
            }

            .features-imgs {
                display : inline-block;
                position: relative;

                @media (max-width: $laptop) {
                    margin-bottom: 162px;
                }

                @media (max-width: $tablet) {
                    margin-bottom: 144px;
                }

                @media (max-width: $mob-l) {
                    margin-bottom: 128px;
                }

                @media (max-width: $mob-m) {
                    margin-bottom: 96px;
                }

                @media (max-width: $mob-s) {
                    margin-bottom: 84px;
                }

                .big-f-img {
                    width: 696px;

                    @media (max-width: $laptop) {
                        width: calc(1024px - 400px);
                    }

                    @media (max-width: $tablet) {
                        width: calc(768px - 340px);
                    }

                    @media (max-width: $mob-l) {
                        width: calc(425px - 180px);
                    }

                    @media (max-width: $mob-m) {
                        width: calc(375px - 160px);
                    }

                    @media (max-width: $mob-s) {
                        width: calc(320px - 100px);
                    }
                }

                .small-f-img {
                    width   : 400px;
                    display : inline-block;
                    position: absolute;
                    top     : 483px;
                    left    : 324px;

                    @media (max-width: $laptop) {
                        width: calc(1024px - 668px);
                    }

                    @media (max-width: $tablet) {
                        width    : calc(768px - 450px);
                        top      : 70%;
                        left     : 50%;
                        transform: translateX(-50%);
                    }

                    @media (max-width: $mob-l) {
                        width: calc(425px - 286px);
                    }


                    @media (max-width: $mob-m) {
                        width: calc(375px - 250px);
                    }

                    @media (max-width: $mob-s) {
                        width: calc(320px - 190px);
                    }
                }
            }

            .features-wrapper {

                margin-left: 78px;

                @media (max-width: $tablet) {
                    margin-left: 0;
                }

                .feature-heading {
                    display        : flex;
                    justify-content: flex-start;
                    align-items    : center;

                    .f-icon {
                        display     : block;
                        margin-right: 14px;
                    }

                    .feature-h2 {
                        font-size     : 20px;
                        font-style    : normal;
                        font-weight   : 500;
                        line-height   : 30px;
                        letter-spacing: 0px;
                        text-align    : left;
                    }

                    #f-h2-1 {
                        width : 154px;
                        height: 60px;
                    }

                    #f-h2-2 {
                        width : 88px;
                        height: 60px;
                    }
                }

                .feature-txt {
                    width     : 250px;
                    text-align: left;
                }

            }
        }
    }
}

.contents-block {
    background: $dark-bg;

    .contents-h1 {
        padding: 0;
    }

    .contents-txt {
        margin: 20px auto 54px auto;
        width : 580px;

        @media (max-width: $tablet) {
            width: 290px;
        }
    }

    .contents-cards-wrapper {
        display        : inline-flex;
        flex-direction : row;
        justify-content: space-between;
        width          : 986px;

        @media (max-width: $laptop) {
            flex-direction: column;
            align-items   : center;
            width         : auto;
        }

        @media (max-width: $tablet) {
            width: auto;
        }

        @media (max-width: $tablet) {
            width: auto;
        }

        @media (max-width: $mob-l) {
            width: auto;
        }

        @media (max-width: $mob-m) {
            width: auto;
        }

        @media (max-width: $mob-s) {
            width: auto;
        }

        .content-card {
            background   : white;
            color        : #000;
            border-radius: 10px;
            margin-bottom: 34px;
            width        : 476px;

            @media (max-width: $tablet) {
                width: 350px;
            }

            @media (max-width: $mob-m) {
                width: calc(375px - 80px);
            }

            @media (max-width: $mob-s) {
                width: calc(320px - 50px);
            }

            .content-card-h3 {
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 30px;
                letter-spacing: 0px;
                text-align    : center;
                padding-top   : 50px;
                margin        : 0 0 30px 0;
            }

            .content-card-txt {
                color     : #5C5C5C;
                text-align: center;
                margin    : 0 auto;
                width     : 270px;

                @media (max-width: $mob-m) {
                    width: 250px;
                }
            }

            #signup-content-btn {
                margin: 68px 0 68px 0;
            }

            #try-it-content-btn {
                margin: 40px 0 30px 0;
            }

            .content-card-img-container {

                .content-card-img {
                    width         : 280px;
                    padding-bottom: 40px;

                    @media (max-width: $mob-m) {
                        width: 240px;
                    }
                }

                #macbook-img {
                    @media (min-width: $laptop) {
                        width: 314px;
                    }
                }

                #dashboard-img {
                    @media (min-width: $laptop) {
                        width: 380px;
                    }
                }
            }
        }
    }
}

.gallery-block {
    background: $dark-bg;

    .gallery-txt {
        margin-top: 20px;
        width     : 580px;

        @media (max-width: $tablet) {
            width: 290px;
        }
    }

    .gallery-imgs-lg-wrapper {
        display: none;

        @media (min-width: $laptop) {
            display       : flex;
            flex-direction: column;
            align-items   : center;
        }

        .first-row {
            display        : flex;
            justify-content: space-between;
            padding-top    : 45px;
            padding-bottom : 44px;
            width          : 1006px;

            @media (max-width: $laptop) {
                width: calc(1006px - 4 * 30px);
            }
        }

        .second-row {
            display        : flex;
            justify-content: space-between;
            width          : 1094px;

            @media (max-width: calc(1024px + 200px)) {
                width: calc(1094px - 4 * 30px);
            }
        }

        .gallery-img-container {
            border-radius: 10px;
            height       : 286px;
            width        : 226px;

            @media (max-width: calc(1024px + 200px)) {
                width: 196px;
            }
        }

        .wide-gallery-img {
            width: 400px;

            @media (max-width: calc(1024px + 200px)) {
                width: 370px;
            }
        }

        #gallery-img-1 {
            background: url('../img/gallery-img-1.png') center center no-repeat;
        }

        #gallery-img-2 {
            background: url('../img/gallery-img-2.png') center center no-repeat;
        }

        #gallery-img-3 {
            background: url('../img/gallery-img-3.png') center center no-repeat;
        }

        #gallery-img-4 {
            background: url('../img/gallery-img-4.png') center center no-repeat;
        }

        #gallery-img-5 {
            background: url('../img/gallery-img-5.png') center center no-repeat;
        }

        #gallery-img-6 {
            background: url('../img/gallery-img-6.png') center center no-repeat;
        }

        #gallery-img-7 {
            background: url('../img/gallery-img-7.png') center center no-repeat;
        }
    }

    .gallery-imgs-sm-wrapper {
        width          : 100%;
        height         : calc(286px * 4 + 34px * 3);
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        align-items    : center;
        margin-top     : 54px;

        @media (min-width: $laptop) {
            display: none;
        }

        .gallery-img-sm-container {
            border-radius: 10px;
            height       : 286px;
        }

        #gallery-img-sm-1 {
            background: url('../img/gallery-img-sm-1.png') center center no-repeat;
            width     : 330px;

            @media (max-width: $mob-s) {
                width: calc(330px - 48px);
            }
        }

        #gallery-img-sm-2 {
            background: url('../img/gallery-img-sm-2.png') center center no-repeat;
            width     : 324px;

            @media (max-width: $mob-s) {
                width: calc(324px - 48px);
            }
        }

        #gallery-img-sm-3 {
            background: url('../img/gallery-img-sm-3.png') center center no-repeat;
            width     : 318px;

            @media (max-width: $mob-s) {
                width: calc(318px - 48px);
            }
        }

        #gallery-img-sm-4 {
            background: url('../img/gallery-img-sm-4.png') center center no-repeat;
            width     : 306px;

            @media (max-width: $mob-s) {
                width: calc(306px - 48px);
            }
        }
    }

    #see-more-btn {
        margin: 50px 0;
    }
}

.partners-block {
    background: $dark-bg;

    .partners-h1 {
        margin-bottom: 20px;
    }

    .partners-txt {
        margin-bottom: 66px;
    }

    .partners-icons-wrapper {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        width          : calc(320px * 2 + 74px);
        margin         : 0 auto;

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items   : center;
            width         : auto;
            margin        : 0;
        }

        .partners-icons-row {
            display        : flex;
            justify-content: space-between;
            width          : 320px;

            @media (max-width: $mob-m) {
                width: 280px;
            }

            .partner-icon {
                display      : block;
                height       : 60px;
                margin-bottom: 58px;

                @media (max-width: $mob-m) {
                    height: 50px;
                }
            }
        }
    }
}

.testimonials-block {
    background: $dark-bg;
    color     : #fff;

    .testimonials-h1 {
        margin-bottom: 60px;
    }

    .testimonials-cards-wrapper {
        display        : flex;
        justify-content: space-between;
        flex-wrap      : wrap;
        width          : calc(430px * 2 + 24px);
        margin         : 0 auto;

        @media (max-width: calc(430px * 2 + 24px + 100px)) {
            width          : calc(352px + 50px);
            flex-wrap      : nowrap;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : center;
        }

        @media (max-width: $mob-l) {
            width: 100%;
        }

        @media (max-width: $mob-m) {
            flex-wrap      : nowrap;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : center;
        }

        .testimonial-card {
            box-sizing   : border-box;
            border       : 1px solid #565656;
            border-radius: 10px;
            padding      : 30px 70px 40px 40px;
            margin-bottom: 20px;
            width        : 430px;

            @media (max-width: $tablet) {
                width: 352px;
            }

            @media (max-width: $mob-m) {
                width  : 280px;
                padding: 20px 50px 30px 30px;
            }

            .testimonial-card-heading {
                display        : flex;
                justify-content: flex-start;
                align-items    : center;
                margin-bottom  : 30px;

                .testimonial-img {
                    display: block;
                    width  : 50px;
                    height : 50px;
                }

                .testimonial-headers-wrapper {
                    display        : flex;
                    flex-direction : column;
                    justify-content: flex-start;
                    margin-left    : 24px;

                    .testimonial-h4 {
                        font-size     : 16px;
                        font-style    : normal;
                        font-weight   : 600;
                        line-height   : 24px;
                        letter-spacing: 1px;
                        text-align    : left;
                        margin        : 0;
                    }

                    .testimonial-h5 {
                        font-size     : 16px;
                        font-style    : normal;
                        font-weight   : 500;
                        line-height   : 24px;
                        letter-spacing: 0px;
                        text-align    : left;
                        margin        : 0;
                    }
                }
            }

            .testimonial-txt {
                text-align: left;
            }
        }
    }
}

.adverfisting-block {
    background    : $dark-bg;
    padding-top   : 230px;
    padding-bottom: 180px;

    @media (max-width: $laptop) {
        padding-top   : 150px;
        padding-bottom: 0;
    }

    .advertising-wrapper {
        background   : #343434;
        position     : relative;
        border-radius: 32px;
        margin       : 0 auto;
        width        : 78%;
        max-height   : 380px;
        max-width    : 1400px;

        @media (max-width: $laptop) {
            position       : unset;
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : center;
            max-height     : none;
            width          : 100%;
            border-radius  : unset;
        }

        .adv-txt-wrapper {
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : flex-start;
            text-align     : left;
            padding        : 78px 0 78px 104px;
            width          : 40%;

            @media (max-width: $laptop) {
                align-items: center;
                text-align : center;
                padding    : 104px 0 0 0;
            }

            .advertising-h1 {
                margin : 0 0 38px 0;
                padding: 0;
            }

            #try-for-free-btn {
                @media (max-width: $laptop) {
                    margin: 0 auto;
                }
            }
        }

        .advertising-img {
            position     : absolute;
            top          : 100%;
            left         : 100%;
            transform    : translate(-100%, -100%);
            max-height   : 100%;
            max-width    : 50%;
            border-radius: 0 0 33px 0;

            @media (max-width: $laptop) {
                display: none;
            }
        }

        .advertising-sm-img {
            display: none;

            @media (max-width: $laptop) {
                display   : block;
                width     : 100%;
                margin-top: 100px;
            }
        }
    }
}

footer {
    margin    : 0;
    padding   : 0;
    background: $dark-bg;

    @media (max-width: $laptop) {
        padding: 180px 0 130px 0px;
    }

    @media (max-width: $mob-l) {
        padding: 180px 0 80px 0px;
    }

    .footer {
        display        : flex;
        justify-content: space-between;
        margin         : 0 auto;
        padding-bottom : 108px;
        max-width      : 1024px;

        @media (max-width: $laptop) {
            flex-direction: column;
            align-items   : center;
        }

        @media (max-width: $mob-l) {
            align-items: flex-start;
        }

        .links-container {
            display        : flex;
            justify-content: space-between;

            @media (max-width: $laptop) {
                margin-bottom: 80px;
            }

            @media (max-width: $mob-l) {
                flex-direction: column;
                align-items   : flex-start;
                margin-left   : 80px;
            }

            @media (max-width: $mob-m) {
                margin-left: 40px;
            }

            .link-list {
                margin-right: 96px;

                @media (max-width: 500px) {
                    margin-right: 50px;
                }

                @media (max-width: $mob-l) {
                    margin-bottom: 40px;
                }

                .links-h3 {
                    font-size     : 20px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 30px;
                    letter-spacing: 0px;
                    text-align    : left;
                    margin        : 0;
                    padding       : 0;

                    @media (max-width: $mob-l) {
                        margin-bottom: 40px;
                    }
                }

                .f-links {
                    list-style: none;
                    text-align: left;
                    padding   : 0;

                    .f-link {
                        margin-bottom: 20px;
                    }
                }
            }

            #last-link-list {
                @media (max-width: $laptop) {
                    margin-right: 0;
                }

                @media (max-width: $mob-l) {
                    margin-bottom: 0;
                }
            }
        }

        .contacts-container {
            @media (max-width: $mob-l) {
                margin-left: 80px;
            }

            @media (max-width: $mob-m) {
                margin-left: 40px;
            }

            .contact-row {
                display      : flex;
                align-items  : center;
                margin-bottom: 20px;

                .contact-icon {
                    display     : block;
                    height      : 38px;
                    margin-right: 18px;
                }

                a {
                    font-size      : 16px;
                    font-style     : normal;
                    font-weight    : 500;
                    line-height    : 24px;
                    letter-spacing : 1px;
                    text-align     : left;
                    text-decoration: none;
                    color          : white;
                    display        : block;
                }
            }

            .contact-icons {
                display        : flex;
                justify-content: flex-start;
                align-items    : center;

                .contact-icon {
                    height      : 38px;
                    margin-right: 32px;
                }
            }
        }
    }
}

.visible-nav-links-container {
    width          : 80%;
    background     : $start-bg;
    height         : auto;
    position       : absolute;
    top            : 100px;
    left           : 50%;
    transform      : translateX(-50%);
    transition     : all 0.3s linear;
    z-index        : 100;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    .visible-nav-links {
        display        : block !important;
        list-style-type: none;
        padding        : 0;

        .d-list-item {
            display: list-item;

            @media (min-width: 440px) and (max-width: $tablet) {
                display: inline-block;
                margin : 0 20px;
            }

            a {
                color          : white;
                text-decoration: none;
            }
        }
    }
}

.hidden {
    opacity   : 0;
    transition: opacity 0.2s;
}

.smooth-padding {
    transition: padding 0.3s linear;
}

.smooth-collapse {
    transform: translateY(0);
}

.login-btn-visible {
    display: block;
}