// Device Width
$mob-s   : 320px;
$mob-m   : 375px;
$mob-l   : 425px;
$tablet  : 768px;
$laptop  : 1024px;
$laptop-l: 1440px;
$uhd     : 3840px;

// Colors
$start-bg: #111111;
$dark-bg : #181818;
$primary : #4452FE;