.PageNotFound {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 48px;
}

.pnf_button {
    width: 30%;
    height: 42px;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgb(35, 134, 54);
    color: white;
    border: none;
    margin-top: 20px;
}

@media screen and (max-width: 1001px) {
    .pnf_button {
        width: 100%;
        font-size: 4vw;
    }
    .PageNotFound {
        font-size: 8vw;
    }
}