.NavBar {
    display: flex;
    background-color: #181818;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
}

.logo {
    max-width: 33%;
    max-height: 50px;
}

.title_name {
    font-size: 2vw;
    width: 33%;
    color: white;
}

.inp_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
    justify-content: right;
}

.inp {
    background-color: #343434;
    color: white;
    outline: none;
    border-color: #343434;
    border-radius: 4px;
    width: 70%;
    height: 24px;
    font-size: 14px;
}

.but_data {
    background-color: white;
    border-radius: 6px;
    outline: none;
    border-color: none;
    margin-left: 10px;
    width: 80px;
}

@media screen and (max-width: 1001px) {
    .NavBar {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title_name {
        display: none;
    }
    .inp_data {
        width: 50vw;
    }
    .but_data {
        width: 10vw;
    }
}