.date { 
    color: gray; 
    margin-bottom: -11mm; 
   } 
   .read { 
    color: gray; 
    margin-bottom: -0mm; 
   } 
   .name1 { 
    font-weight: bolder; 
    font-size: 25px; 
   } 
   .name2 { 
    font-weight: bolder; 
    font-size: 25px; 
   } 
   .paragpaph_two { 
    margin-bottom: -2mm; 
   } 
   .name3 { 
    font-weight: bolder; 
    font-size: 24px; 
   } 
   .paragpaph_three { 
    margin-bottom: -2mm; 
   } 
   .name4 { 
    font-weight: bolder; 
    font-size: 24px; 
   } 
   .paragpaph_fore { 
    margin-bottom: 3mm; 
   } 
   .name5 { 
    font-weight: bolder; 
    font-size: 25px; 
   } 
   .paragpaph_five { 
    margin-bottom: -3mm; 
   } 
   table { 
    border: 1px solid grey; 
   } 
   th { 
    border: 1px solid red; 
   } 
   td { 
    border: 1px solid grey; 
   }
