/* доп. Шрифты: Sacramento, Akaya Telivigala, Cookie, Knewave */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Cookie", sans-serif;
    color: rgb(1, 0, 36);
    background-color: white;
}

body .top {
    margin: 0;
    padding-top: 15px;
    width: auto;
    height: 40px;
    color:azure;
    border-bottom: 5px solid #29053d;
    font-family: "Sacramento", sans-serif;
    font-size: 28px;
    background-color: black;
}

h1 {
    margin-left: 15px;
    color: #f31515;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #ad0000;
    text-shadow: 1px 2px 10px blueviolet;
}

p {
    padding: 0 30px;
}

h2::after, h2::before {
    margin-left: 15px;
    margin-right: 15px;
    content: ".";
    width:auto;
    height: 10px;
    background-color:#ad0000;
}

.top-element {
    padding: 0 100px;
    width: auto;
    float: left;
    text-align: center;
}

span {
    font-weight: bold;
    font-family: "Knewave", sans-serif;
    font-size: 14px;
}

body #about {
    font-size: 1.5em;
    font-family: "Cookie", sans-serif;
    color:rgb(16, 5, 46);
    width: 1000px;
    text-align: center;
}

.semaphor-el img {
    margin-left: 20px;
    width: 500px;
    min-height: 280px;
    box-shadow: 0px 0px 10px blueviolet;
    border-radius: 3em;
} 

.semaphor-el .big-picture img{
    height: 500px;
}

a::after {
    content: "->";
}

table {
    margin-left: 20px;
    border: 3px dashed #29053d;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

table td, table th {
    background-color:rgba(255, 106, 230, 0.362);
    border: 1px solid lemonchiffon;
    width: 130px;
    height: 30px;
    text-align: center;
}

table th {
    font-size: 22px;
}

.registration h1 {
    text-shadow: 0px 0px 10px rgb(89, 89, 216);
    font-family: "Akaya Telivigala", serif;
    font-size: 45px;
}

.registration {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
}

.registration .reg-el {
    margin-left: 20px;
}

.registration .reg-el::before {
    content: "#";
    background-color: #ad0000;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

.button-reg {
    margin-left: 300px;
    padding: 10px;
    background-color: #f57070;
    border-color:#ad0000;
}

.button-reg:hover {
    background-color: #991111;
    border-color:#240404;
}

.cell {
    width: auto;
    background-color: black;
    height: 90px;
    font-size: 35px;
    font-family: "Sacramento", serif;
}
#cell-el {
    padding-left: 100px;
    font-size: 30px;
    vertical-align: middle;
}
.cell a {
    color: white;
    text-decoration: none;
}
.cell a:hover {
    color:#ad0000;
}