@media only screen and (max-width: 1245px) {
    a.butt {
        display: none;
    }
    a.butt_1 {
        margin-left: 82px;
        font-weight: 600;
    }
    a.butt_3 {
        margin-left: 0px;
        margin-top: 45px;
    }
    a.butt_7 {
        display: block;
        background: #4452FE;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 600;
        padding: 18px 47px;
        margin-top: 37px;
    }
    p.text_1 {
        color: rgb(255, 255, 255);
        font-size: 52px;
        text-align: center;
        margin-top: 91px;
        margin-bottom: 27px;
        width: 294px;
        height: 186px;
        font-weight: 600;
    }
    p.text_2 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
        width: 382px;
        height: 120px;
        font-weight: normal;
        margin: 0px;
    }
    p.text_9 {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 382px;
        height: 120px;
        font-weight: normal;
        margin-top: 255px;
        font-size: 52px;
        line-height: 62px;
    }
    p.text_10 {
        color: rgb(255, 255, 255);
        margin: 0px;
        padding-left: 0px;
        padding-top: 75px;
        letter-spacing: 0.1px;
        width: 160px;
        height: 30px;
        padding-bottom: 23px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    p.text_11 {
        padding-left: 0p;
    }
    .img_1_2 {
        margin-top: 35px;
        width: 100%;
        height: 100%;
    }
    .img_1_3 {
        display: block;
        padding-top: 50px;
        margin-left: 82px;
    }
    .img_2_1 {
        padding-bottom: 45px;
        margin-top: 47px;
        padding-right: 0px;
    }
    .img_4_1 {
        display: block;
        width: 317px;
        height: 285px;
        border-radius: 10px;
        margin-bottom: 33px;
    }
    .img_4_2 {
        display: none;
    }
    .img_5 {
        width: 83px;
        height: 60px;
        margin-left: 35px;
    }
    .img_6 {
        width: 340px;
        height: 300px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .img_7_1 {
        display: none;
    }
    .img_7_2 {
        display: block;
        width: 580px;
        height: 473.5px;
        margin-top: 60px;
    }
    .flex-butt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 67px;
        align-items: center;
    }
    .flex-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .gradient {
        margin-top: 1100px;
        height: 400px;
    }
    .block_1 {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 990px) {
    .gradient {
        margin-top: 1000px;
        height: 350px;
    }
}

@media only screen and (max-width: 770px) {
    .gradient {
        margin-top: 900px;
        height: 320px;
    }
    .img_2_1 {
        margin-top: 45px;
        padding-right: 0px;
        width: 700px;
    }
}

@media only screen and (max-width: 480px) {
    a.butt_1 {
        padding: 15px 20px;
        margin-left: auto;
    }
    a.butt_4 {
        margin-top: 231px;
    }
    a.butt_5 {
        margin-top: 200px;
    }
    .gradient {
        margin-top: 890px;
        height: 160px;
    }
    .img_1_3 {
        display: block;
        padding-top: 50px;
        margin-left: 80px;
        margin-right: 2px;
    }
    .img_2_1 {
        margin-top: 45px;
        padding-right: 0px;
        width: 400px;
    }
    .img_3_1 {
        width: 297px;
        height: 174px;
    }
    .img_3_2 {
        height: 250px;
        width: 350px;
        margin-top: 50px;
    }
    .block_1 {
        width: 348px;
        height: 573px;
    }
}