body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #747494;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}